*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body{
    background-color: lightgrey;
}

#container{
    width: 1000px;
    height:1200px;
    margin: 0 auto;
    background-color: white;
   
}

.webp{
    width: 300px;
    height:360px;
    background-size: cover;
    background-position: no-repeat;
    float: left;
    margin:15px;
}

.testo{
     width:150px;
     height: 100px;
     margin-left: 15px;
}

 .contain section{
    display: inline-block;
    position: relative;  
}

.img1{
    background-image: url(../img/img1.webp);
}
.img1:hover{
    background-image:url(../img/1-hover.webp);
}

.img2{
    background-image: url(../img/2.webp);
}

.img2:hover{
    background-image:url(../img/2-hover.webp);
}

.img3{
    background-image: url(../img/img3.webp);
}

.img3:hover{
    background-image:url(../img/3-hover.webp);
}

.img4{
    background-image: url(../img/img4.webp);
}


.img4:hover{
    background-image:url(../img/4-hover.webp);
}

.img5{
    background-image: url(../img/img5.webp);
}

.img5:hover{
    background-image:url(../img/5-hover.webp);
}

.img6{
    background-image: url(../img/img6.webp);
}


.img6:hover{
    background-image:url(../img/6-hover.webp);
}

.discount{
    position: absolute;
    bottom:25px;
    width:40px;
    height: 26px;
    background-color: red;
    color:white;
    padding:3px;
}

.cuore{
    width:30px;
    height:25px;
    background-color: white;
    position: absolute;
    top:20px;
    right:15px;
    text-align: center;
}

.sostenibility{
    position: absolute;
    bottom: 25px;
    right:  2px;
    width: 90px;
    height: 26px;
    background-color: green;
    color:white;
    padding:3px;
}

.sostenibility1{
    position: absolute;
    bottom: 25px;
    width: 90px;
    height: 26px;
    background-color: green;
    color:white;
    padding:3px;
}

.red-price{
    color:red;
}
/* #green{
    background-color: green;
    width:250px;
    height: 250px; */
